body{
    background-color: skyblue;
}

#card{
    background-color: whitesmoke;
    width: 60%;
    margin:auto;
    text-align: center;
    height: auto;
}

h3{
    font-family: 'Comic Sans MS',cursive;
}

p {
    font-family: cursive;
}

img{
    height: 100px;
    width: 100px;
}

.interior{
    display:inline-block;
}

#small{
    font-size: 4px;
    font-family: "impact",fantasy;
}